*~
O.*
*.log
*.swp
*.swo
*.bak
*._*
bin/
cfg/
db/
dbd/
display/
edl/
html/
include/
lib/
templates/
cdCommands
envPaths
RELEASE_SITE
tags
startup/
autosave/
archive/

blenApp/ui/fontconfig/
blenApp/ui/gmon.out
*.pyc
# vim swap files
*.sw*
