# User-facing temperature sensor PV template

record(ai,      "$(P):$(R)") {
    field(DTYP, "Raw Soft Channel")
    field(INP, "$(INP) CP")
    field(DESC, "$(DESC)")
    field(EGU,  "$(EGU=C)")
    field(LINR, "LINEAR")
    field(EOFF, "$(EOFF=0.0)")
    field(ESLO, "$(ESLO=0.01)")
    field(HIHI, "$(HIHI=80.0)")
    field(HIGH, "$(HIGH=60.0)")
    field(HHSV, "MAJOR")
    field(HSV, "MINOR")

    info(autosaveFields, "HIHI HIGH")
}
